body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
main {
  width: 60rem;
  height: 10rem;
  background-color: lightgray;
  box-shadow: 1px 1px 1px 1px gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hamburger {
  width: 2rem;
  height: 2rem;
  background-color: gray;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-shadow: beige 1px 1px 1px 1px;
  
}
.kid {
  width: 1.5rem;
  height: 0.2rem;
  background-color: white;
}
.first .first {
  position: absolute;
  animation-name: go-in;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-duration: 3s;
}
@keyframes go-in {
  from {
    top: 0rem;
    background-color: greenyellow;
    transform: rotate(0.5turn);
  }
  to {
    top: 100px;
    background-color: green;
  }
}
.first .second {
  position: absolute;
  animation-name: turn;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-duration: 3s;
}
@keyframes turn {
  from {
    background-color: red;
    transform: rotate(0.15turn);
  }
  to {
    background-color: lightpink;
  }
}
.first .thirth {
  position: absolute;
  animation-name: turn-right;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-duration: 3s;
}
@keyframes turn-right {
  from {
    background-color: blue;
    transform: rotate(-0.15turn);
  }
  to {
    background-color: blueviolet;
  }
}
.second .first {
  height: 10px;
  width: 10px;
  background-color: lightgreen;
  border-radius: 10px;
  position: absolute;
  animation-name: turn-around;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-duration: 4s;
  border: 1px dotted white;
}
@keyframes turn-around {
  
  0%{
      background-color: skyblue;
      top: 2px;
  }
  25%{
      background-color: teal;
      
      right: 2px;
      width: 11px;
      height: 11px;
      
  }
  50%{
    background-color: red;
    
    left: 2px;
    width: 11px;
    height: 11px;
    
}
 
  75%{
    background-color: greenyellow;
    
    bottom: 2px;
}
  100%{
      background-color: green;
      
      width: 14px;
      height: 14px;
  }

}
.thirth .second{
   
  position: absolute;
  animation-name: stand;
  animation-delay: 0s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  border: 1px dotted white;
 
}
@keyframes stand {
    from {
        transform: rotate(0.5turn);
        background-color: khaki;
    }
    to {
        transform: rotate(-05turn);
        background-color: olive;
    }
}


